.custom-information-link {
    background-color: $color-black;
    color: $color-white;
    font-weight: 600;

    &:hover {
        color: $color-white;
    }
}

.custom-social-icon-link {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 1px solid $color-white;
    border-radius: 50%;
    border-color: $color-white;
}