.custom-footer {
    background-color: $color-black;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: .3);
}

// COLS

.custom-footer-col {

    @include mq("desktop") {
        width: 70%;
    }
}

.custom-footer-col-2 {

    @include mq("desktop") {
        width: 30%;
    }

    &-title {
        margin-bottom: 1.1rem;
    }
}

// E-MAIL INPUT

.custom-footer-input {
    height: 40px;
    border-radius: 0;
    background-color: $color-black;

    &:focus {
        box-shadow: none;
    }

    @include mq("desktop") {
        height: 50px;
    }
}

// CHECKBOX

.custom-check-label {
    display: flex;
    user-select: none;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .4px;
}

.custom-check-wrap {
    width: 21px;
    height: 21px;
    display: flex;
    position: relative;
    margin-right: 12px;
    margin-top: 1%;

    @include mq("tablet") {
        margin-top: 0;
    }

    @include mq("desktop") {
        margin-top: 1%;
    }

    @include mq("large") {
        margin-top: 1%;
    }

    &::before {
        content: '';
        display: inline-block;
        font-size: 13px;
        width: 1.3rem;
        height: 1.3rem;
        border: 1px solid $color-white;
    }
}

.custom-checkbox {
    width: 21px;
    height: 21px;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    pointer-events: none;
    margin-top: 0;
    background-color: $color-black;
    border-radius: 0 !important;
    
    &:focus {
        border-color: $color-white;
        box-shadow: none;
    }

    &:checked + .icon-checkmark {
        display: block;
    }
}