.custom-body {
    padding-top: 54px;

    @include mq("large") {
        padding-top: 60px;
    }
}

.custom-preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}