.icon-chevron-right1, .icon-magnifier, .icon-chat {
    width: 18px;
    height: 18px;
}

// SEARCH ICON
.icon-magnifier {
    fill: rgba(0,0,0,.55);
}

// CHECKBOX ICON
.icon-checkmark {
    display: none;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 3px;
    fill: $color-white;
}

// INFORMATION ICON
.icon-chat {
    width: 20px;
    height: 20px;
    transform: rotateY(150deg);
    margin-right: 4px;
    fill: $color-white;
}

// MAIN ROW ICON
.custom-icon-chevron {
    width: 28px;
    height: 28px;
    margin-right: -1.5%;

    @include mq("tablet") {
        margin-right: -9px;
    }

}

// ACCORDION ICON
.custom-accordion-list-icon {
    width: 24px;
    height: 24px;
    fill: $color-white;
}

// SOCIAL ICONS
.custom-social-icons {
    width: 20px;
    height: 20px;
    fill: $color-white;
}

// LANG ICON

.custom-lang-icon {
    transform: rotate(90deg);
    margin-left: 5px;
    transition: transform .2s ease-in-out;
  }

.custom-lang-dropdown:hover svg {
    transform: rotate(-90deg);
    fill: $color-white;
    transition: transform .2s ease-in-out;

}