// SEARCH
.custom-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    &:focus {
        box-shadow: none !important;
    }

    &:hover {
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: #f8f9fa;
    }
}

// FOOTER
.custom-footer-btn {
    @extend .custom-search-btn;
    width: 100%;
    border-radius: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: 900;
}
