.custom-carousel-icon {
    width: 70px;
    height: 70px;
    padding: 20px;
}

.custom-carousel-item {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    opacity: 0;
}

.custom-carousel-img {
    max-height: 700px;
    object-fit: cover;
}