.custom-modal {

  @include mq("tablet") {
    max-width: 700px !important;
  }
}

// SEARCH
.custom-nav-search {

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }

  &:focus {
    box-shadow: none;
  }

  @include mq("large") {
    display: block;
    margin-top: -.3rem;
  }
}

.custom-search-input {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ced4da;

  &:focus {
    box-shadow: none;
    border-bottom: 1px solid #ced4da;

  }
}